.link{
    text-decoration: none;
}
.judul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: 20px;
}
.card-title{
    color: crimson;
}
.card-text{
    color: black;
}